<style>
    .everify-container {
        height: 100vh;
        width: 100vw;
        background-color: yellow;
    }
</style>
<!-- 
    Div class names/Vanilla CSS used for now;
    Will do Tailwind for styling later
 -->
<div class="everify-container">
    <div class="verify-logo">
        <!-- Insert mail art here -->
    </div>
    <div class="everify-text">
        <!-- Please check your email blah blah -->
    </div>
    <div class="everify-verifation">
        <!-- Insert verification format here: 
                redirect button/link, 
                4/6-pin OTP
                Alpha-numeric OTP
                etc.
            -->
    </div>
</div>