<style>
    .verify-container {
        height: 100vh;
        width: 100vw;
        
        background: url('../uploads/cover.png') no-repeat center center fixed;
        background-size: auto;
        border: 1px solid black;

        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .verify-prompt {
        background-color: white;
        width: 60vw;
        height: 60vh;

        padding: 50px;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;

        border-radius: 10%/20%;
    }

    .verify-logo {
        height: 120px;
        width: 120px;
        {{!-- background-color: #f0f0f0; --}}
        background-color: transparent;
        border-radius: 50%;

        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    img {
        width: 100px;
        height: 100px;
    }

    .verify-text {
        height: 50%;
        width: 100%;
        background-color: transparent;

        display: flex;
        align-items: center;
        justify-content: space-around;

        text-align: center;

        & .text {
            width: auto;
            height: auto;
            background-color: transparent;

            color: black;
            font-weight: 500;
            font-size: 1.2rem;
        }
    }

    .verify-resend {
        width: 40%;
        padding: 0.7rem;
        background-color: #69aaFF;
        border-radius: 10%/50%;

        & .text {
            text-align: center;
            color: white;
        }
    }

    .verify-resend:hover {
        background-color: #4077FF;
    }
</style>

<!-- 
    Div class names/Vanilla CSS used for now;
    Will do Tailwind for styling later
 -->

<div class="verify-container">
    <div class="verify-prompt">
        <div class="verify-logo">
            <img src="../uploads/verified.png" alt="Verify User">
        </div>
        <div class="verify-text">
            <p class="text">Your account has been created!<br>Please check your email to verify your account.</p>
        </div>
        <div class="verify-resend">
            <p class="text">Resend Verification Email</p>
        </div>
    </div>
</div><style>
    .verify-container {
        height: 100vh;
        width: 100vw;
        
        background: url('../uploads/cover.png') no-repeat center center fixed;
        background-size: auto;
        border: 1px solid black;

        display: flex;
        align-items: center;
        justify-content: space-around;

        z-index: 2;
    }

    .verify-prompt {
        background-color: white;
        width: 60vw;
        height: 60vh;

        padding: 50px;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    .verify-logo {
        height: 120px;
        width: 120px;
        {{!-- background-color: #f0f0f0; --}}
        background-color: transparent;
        border-radius: 50%;

        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .verfify-logo img {
        width: 100px;
        height: 100px;
    }

    .verify-text {
        height: 50%;
        width: 100%;
        background-color: transparent;

        display: flex;
        align-items: center;
        justify-content: space-around;

        text-align: center;

        & .text {
            width: auto;
            height: auto;
            background-color: transparent;

            color: black;
            font-weight: 500;
            font-size: 1.4rem;
        }
    }

    .verify-resend {
        width: 40%;
        padding: 0.5rem;
        background-color: #69aaFF;
        border-radius: 10%/40%;

        & .text {
            text-align: center;
            color: white;

            font-size: 1rem;
            font-weight: 600;
        }
    }

    .verify-resend:hover {
        background-color: #4077FF;
    }
</style>

<!-- 
    Div class names/Vanilla CSS used for now;
    Will do Tailwind for styling later
 -->

<div class="verify-container">
    <div class="verify-prompt">
        <div class="verify-logo">
            <img src="../uploads/verified.png" alt="Verify User">
        </div>
        <div class="verify-text">
            <p class="text">Your account has been created!<br>Please check your email to verify your account.</p>
        </div>
        <div class="verify-resend">
            <p class="text">Resend Verification Email</p>
        </div>
    </div>
</div>