<style>
    .reviews-container {
        display: hidden;
    }
</style>



<div class="reviews-container">
    {{!-- 
        {{#if review_list}}
            {{#each}}

            {{/each}}
        {{/if}}
     --}}
     <div class="one-review-container">
        <div class="star-rating">
            {{!-- 
                {{#each <whatever variable use for user rating on a product>}}
                    <img src="DOWNLOAD IMAGE OF STAR FIRST">
                {{/each}}            
             --}}
        </div>
        <div class="review-user">

        </div>
        <div class="review-content">

        </div>
        <div class="review-footer">
            {{!-- 
                <LIKE BUTTON>
                <KEBAB ICON BUTTON ON THE OTHER END>
             --}}
        </div>
     </div>
</div>