<div class="ml-28 my-6">
    <a href="/" class="font-Inknut text-secondary text-4xl" id="title">
        Pearl Hardware
    </a>
    <div class="font-Inknut text-secondary">
        Welding and Safety Supply Inc.</div>
</div>