<link href="https://fonts.googleapis.com/css2?family=Inika" rel="stylesheet">

<style>
    .verify-button {
        width: 15vw;
        height: 8vh;
        margin: auto auto 10vh;

        background-color: #001A69;
        color: white;
        border: 1px solid #001A69;
        font-family: Inika;
        font-size: 1.42vw;

        border-radius: 10px;

        display: flex;
        align-items: center;
        justify-content: space-around;

        user-select: none;
        cursor: pointer;
    }

    .verify-button:hover {
        background-color: white;
        color: #001A69;
        border-radius: 10px;
    }
</style>

<div class="verify-button">
    <p>Verify Account</p>
</div>

<script>
window.onload= async function() {
	let verBtn = document.querySelector('.verify-button');
	
	let resp = await fetch('/checkVerified',{
		method: 'POST'
	})
	resp = await resp.json();
	console.log('is ver? ' + resp.isVerified);
	if(resp.isVerified){
		verBtn.style.display="none";
	}
}
</script>