<form action="/createRefund" method="POST" enctype="multipart/form-data">
    <div class="mb-4">
        <label for="name" class="block text-sm font-medium text-gray-600">Reason</label>
        <input type="text" id="reason" name="reason" class="mt-1 p-2 w-full border rounded">
    </div>

    <div class="mb-4">
        <label for="name" class="block text-sm font-medium text-gray-600">Comments</label>
        <textarea rows="10" cols="100" id="comments" name="comments" class="mt-1 p-2 w-full border rounded"></textarea>
    </div>
  
    <div class="attachmedia">
        <label for="formFile" class="block text-sm font-medium text-gray-600">Product Picture</label>
        <!-- Add multiple attribute to allow multiple file selection -->
        <input class="form-control" type="file" name="productPic" id="formFile" accept="image/*" multiple>
    </div>

    <button type="submit">Submit</button>
</form>
